body {
  width: 100%;
  height: 100%;
  background-color: #292929;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

section {
  padding: 0 0 40px 0;
}

.contenido {
  background-color: #F9F9F9;
}

.container {
  width: 90%;
}

.titulo1 {
    font-size: 60px;
    line-height: 30px;
    color: #0492de;
    font-weight: lighter;
    text-transform: uppercase;
    vertical-align: 1%;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.titulo3 {
    font-size: 17px;
    line-height: 1px;
    font-weight: lighter;
    color: #96a3c0;
    vertical-align: 0%;
    
    display: inline;
}


.titulo2 {
	font-size: 34px;
	color: #999999;
	text-align: center;
	border: 2px dotted grey;
	margin-top: -3%;
}

#dobles {
	column-count: 2;
	width: 80%;
	margin-bottom: 5%;
}

#dobles1 {
	margin-right: 5%;
	margin-bottom: 5%;
}

#hamburguesa {
	display: none;
}

.collapse {
  	display: block;
}

#telefono {
    display: none;
}

.tratamiento {
  text-decoration: underline;
  font-weight: bold;
}

.titulo4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #f90;
    text-align: center;
}

#col14 {
    /*width: 460px;*/
    /*float: left;*/
    padding-left: 10px;
    text-align: left;
    /*height: 350px;*/
    margin-top: 20px;
    color: #fff;
}

.main-footer {
  background-color: #292929;
}

#footer-info {
  column-count: 2;
}

#google iframe {
    width: 100%;
    max-width: 400px;
}

.copito {
  align-content: center;
  background-color: #292929;
  /*width: 100%;*/
  /*margin-left: 5%;*/
  padding-left: 5%;
  margin-bottom: 50px;
}

.copito p {
  font-size: 16px;
}

#profesional-container {
    color: #96a3c0;
    font-weight: lighter;
    font-size: 17px;
    text-align: center;
}

#profesional {
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 35%;
}

body, td, th {
	/*font-family: Oxygen,"sans-serif;";*/
}

@media screen and (max-width: 960px) { /* width at which layout changes  */
  
  p {
    font-size: 18px;
  }

  h1 {
    padding-bottom: 10px;
  }

  .container {
    width: 95%;
  }

  #profesional {
    width: 80%;
    float: none;
    padding-left: 0%;
  }

  #dobles {
  	width: 100%;
    column-count: 1;
  }

  #hamburguesa {
  	display: inline-flex;
  }

  .collapse {
  	display: none;
  }

  .carousel {
    display: none;
  }

  #telefono {
    display: inline-flex;
    font-size: 30px;
    font-style: normal;
    text-transform: capitalize;
    color: #f90;
    text-align: center;
  }

  #footer-info {
    column-count: 1;
  }

  .copito {
    align-content: center;
    margin-top: 90px;
    background-color: #292929;
    /*width: 90%;*/
    margin-left: 3%;
    margin-right: 3%;
  }

}